body {
    background: #fff;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Header */
.brand-logo {
    overflow: hidden;
    display: block;
    height: 64px;
}

.brand-logo_img {
    height: 40px;
    position: absolute;
    top: 7px;
    border: 0;
    left: 0;

}

.brand-logo_text {
    height: 100%;
    display: inline-block;
    float: right;
    margin-left: 50px;

}

.material-icons {
    font-size: inherit;
}

nav ul li:hover, nav ul li.active {
    background: none;
}
/* END header */

/* Footer */
footer.page-footer {
    padding-top: 0;
}
/* END Footer */


/* SignUp Page */
#signup-app {
    margin-top: 50px;
}
/* END SignUp Page */
/* SignUpForm */
.SignUpForm_header {
    margin: 0;
    padding: 10px 20px;
    font-size: 1.5em;
}
.SignUpForm_form {
    border: 1px solid #d8dee2;
    border-top: none;
}
.SignUpForm_form label {
    width: 100%;
}
.SignUpForm_form.col {
    padding: 20px;
}

/* END SignUpForm */