{{ define "index"}}
{{ template "header" .}}

<main>
    <script type="text/javascript" src="/public/home.js"></script>

    <div id="index-banner" class="parallax-container valign-wrapper">
        <div class="container row no-pad-bot valign">
            <div class="col m9 s12">
                <h1 class="header center teal-text white-text">Track your time</h1>

                <div class="row center">
                    <a href="/signing" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                </div>
            </div>
            <div class="col m3">
                {{ template "signin-form" .}}
            </div>
        </div>
        <div class="parallax">
            <img src="/public/img/home_banner.png" alt="Track your time">
        </div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Speeds up development</h5>

                        <p class="light">
                            Nuptia cadunts, tanquam grandis navis.
                            Nuptia cadunts, tanquam grandis navis.
                            Nuptia cadunts, tanquam grandis navis.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">User Experience Focused</h5>

                        <p class="light">
                            A falsis, clabulare varius historia.
                            A falsis, clabulare varius historia.
                            A falsis, clabulare varius historia.
                            A falsis, clabulare varius historia.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Easy to work with</h5>

                        <p class="light">
                            Done by developers for develoers.
                            The scurvy scabbard roughly breaks the bilge rat.
                            The scurvy scabbard roughly breaks the bilge rat.
                            The scurvy scabbard roughly breaks the bilge rat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <div class="col l9 s12">
                    <h5 class="">Company Bio</h5>

                    <p class="">
                        We are a team of ......
                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="">Connect</h5>
                    <ul>
                        <li><a class="" href="#!">Link 1</a></li>
                        <li><a class="" href="#!">Link 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

{{ template "footer" .}}
{{ end }}